<%= form_for(@answ) do |f| %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<div id="sf">
  <div id="sf_banner">
    <div id="pv_bar">
      <button style="display: inline-block;">打印</button>
    </div>
  </div>
  <div class="sf_banner_span is_preview">&nbsp;</div>

  <div id="f_body"><div>
    <div id="sf_main" class="sf_main_padding">
      <div class="header"></div>
      <div class="s-title">关于开展“国办发8号文件”贯彻落实情况 调查评估</div>
      <div id="questions_con">
        <div class="q-filler q-paragraph">
          <div class="q-title">
            <span class="q-title-content"><span style="font-weight: bold;">一、基本信息</span></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"></div>
        </div>
        <div class="q-filler q-textblank">
          <span class="q-idx" style="display: none;">01</span>
          <div class="q-title">
            <span class="q-title-content">1.企业名称：</span>
            <span class="q-info">（输入 2 到 20 个字）</span>
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content"><input type="text" id="53d1a925eb0e5b275700002c" class="normal"></div>
        </div>
        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">02</span>
          <div class="q-title">
            <span class="q-title-content">2.您企业所在的地区是：</span>
            <span class="q-info">（单选题）</span>
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <select>
              <option value="-1">- 请选择 -</option>
              <option value="1823767872330012">北京市</option>
              <option value="9599207349429684">天津市</option>
              <option value="6377215842950351">河北省</option>
              <option value="5813556837440462">山西省</option>
              <option value="24147922388146600">内蒙古自治区</option>
              <option value="22053163809104804">辽宁省</option>
              <option value="24578971386290150">吉林省</option>
              <option value="25463498535900376">黑龙江</option>
              <option value="15333719941190458">上海市</option>
              <option value="19633969488422410">江苏省</option>
              <option value="20367212997152500">浙江省</option>
              <option value="19610547666306652">安徽省</option>
              <option value="22825605059842636">福建省</option>
              <option value="21795556082724656">江西省</option>
              <option value="17833564645479510">山东省</option>
              <option value="21568413584827532">河南省</option>
              <option value="20308882210738124">湖北省</option>
              <option value="13555477888657822">湖南省</option>
              <option value="19929602351839776">广东省</option>
              <option value="20321574996560020">广西自治区</option>
              <option value="18175162946208536">海南省</option>
              <option value="17752005083820952">重庆市</option>
              <option value="24234134835059940">四川省</option>
              <option value="19897291051092756">贵州省</option>
              <option value="7739542222916361">云南省</option>
              <option value="22406877645625970">西藏自治区</option>
              <option value="25430176340378184">陕西省</option>
              <option value="30966001076958450">甘肃省</option>
              <option value="26612995274699612">宁夏自治区</option>
              <option value="18887697035315780">青海省</option>
              <option value="20306138257365084">新疆自治区</option>
              <option value="30778953398912572">新疆生产建设兵团</option>
              <option value="24476640406865068">大连市</option>
              <option value="24959164425599776">宁波市</option>
              <option value="16613613162990128">厦门市</option>
              <option value="25022043812423428">青岛市</option>
              <option value="27892116704824812">深圳市</option>
            </select>
          </div>
        </div>
        <div class="q-filler q-choice">
          <span class="q-idx" style="display: none;">03</span>
          <div class="q-title">
            <span class="q-title-content">3.企业所属技术领域：</span>
            <span class="q-info">（单选题）</span>
            <span class="q-required" style="display: inline;">*</span>
            <span class="q-error"></span>
          </div>
          <div class="q-note" style="display: none;">说明：</div>
          <div class="q-content">
            <table>
              <tbody>
                <tr>
                  <td>
                    <label class="cust-option">
                      <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_9377751908922418" type="radio" class="">
                      <span>&nbsp;</span>
                      <p>电子信息</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_4211071878503577" type="radio" class="">
                      <span>&nbsp;</span>
                      <p>生物医药技术（含农业、轻工）</p>
                    </label>
                  </td>
                  <td>
                    <label class="cust-option">
                      <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_4777930434803012" type="radio" class="">
                      <span>&nbsp;</span>
                      <p>新材料</p>
                    </label>
                  </td>
                </tr><tr><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_4091341506621884" type="radio" class="">
  <span>&nbsp;</span>
  <p>光机电一体化</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_25807414635543372" type="radio" class="">
  <span>&nbsp;</span>
  <p>新能源、高效能源</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_14553478845388312" type="radio" class="">
  <span>&nbsp;</span>
  <p>环境保护</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_10016351876307896" type="radio" class="">
  <span>&nbsp;</span>
  <p>航空航天</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_6264831666827826" type="radio" class="">
  <span>&nbsp;</span>
  <p>地球、空间、海洋工程</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_16441119544666890" type="radio" class="">
  <span>&nbsp;</span>
  <p>核应用技术</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_22526087049388030" type="radio" class="">
  <span>&nbsp;</span>
  <p>其它高技术</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_14685333185822416" type="radio" class="">
  <span>&nbsp;</span>
  <p>高技术研发业</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_9249416264698560" type="radio" class="">
  <span>&nbsp;</span>
  <p>高技术服务业</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_18167464221820892" type="radio" class="">
  <span>&nbsp;</span>
  <p>创意产业</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a967eb0e5bd21e000013" id="option_53d1a967eb0e5bd21e000013_17212616478551844" type="radio" class="">
  <span>&nbsp;</span>
  <p>非高技术</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">04</span>
  <div class="q-title">
    <span class="q-title-content">4.企业类型：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1a9d1eb0e5bfd81000016" id="option_53d1a9d1eb0e5bfd81000016_8843823094801996" type="radio" class="">
  <span>&nbsp;</span>
  <p>中央企业</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a9d1eb0e5bfd81000016" id="option_53d1a9d1eb0e5bfd81000016_5753464509843058" type="radio" class="">
  <span>&nbsp;</span>
  <p>地方国有企业</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">05</span>
  <div class="q-title">
    <span class="q-title-content">5.企业规模：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1a9e6eb0e5bc44c000001" id="option_53d1a9e6eb0e5bc44c000001_7308006976727017" type="radio" class="">
  <span>&nbsp;</span>
  <p>大型（从业人数≧1000人；年营业收入≧40000万元）</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a9e6eb0e5bc44c000001" id="option_53d1a9e6eb0e5bc44c000001_821703434372926" type="radio" class="">
  <span>&nbsp;</span>
  <p>中型（300≦从业人数&lt;1000人；2000万元≦年营业收入&lt;40000万元）</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a9e6eb0e5bc44c000001" id="option_53d1a9e6eb0e5bc44c000001_7738958210213116" type="radio" class="">
  <span>&nbsp;</span>
  <p>小型（20≦从业人数&lt;300人；300万元≦年营业收入&lt;2000万元）</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">06</span>
  <div class="q-title">
    <span class="q-title-content">6.贵企业在收到此问卷之前对国办发8号文件的了解程度：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1a9fbeb0e5bc44c000005" id="option_53d1a9fbeb0e5bc44c000005_5414214138967016" type="radio" class="">
  <span>&nbsp;</span>
  <p>比较了解，仔细阅读过</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a9fbeb0e5bc44c000005" id="option_53d1a9fbeb0e5bc44c000005_7991480700035960" type="radio" class="">
  <span>&nbsp;</span>
  <p>了解，曾经翻阅过</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1a9fbeb0e5bc44c000005" id="option_53d1a9fbeb0e5bc44c000005_5946272659197289" type="radio" class="">
  <span>&nbsp;</span>
  <p>听说过，但没翻阅过</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1a9fbeb0e5bc44c000005" id="option_53d1a9fbeb0e5bc44c000005_3654353188618456" type="radio" class="">
  <span>&nbsp;</span>
  <p>没听说过</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">07</span>
  <div class="q-title">
    <span class="q-title-content">6.1通过哪些途径知晓：<span style="color: #f00"><span style="font-weight: bold;">如了解或听说过该文件,请回答此题，不了解不用作答此题</span></span></span>
    <span class="q-info">（请选择 1 到 5 项）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1aa2deb0e5bd21e000054" id="option_53d1aa2deb0e5bd21e000054_6878196264560158" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>政府宣传</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aa2deb0e5bd21e000054" id="option_53d1aa2deb0e5bd21e000054_4385153037966359" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>网络</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1aa2deb0e5bd21e000054" id="option_53d1aa2deb0e5bd21e000054_6916370126769551" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>报纸</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aa2deb0e5bd21e000054" id="option_53d1aa2deb0e5bd21e000054_5667970902049316" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>中介机构</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1aa2deb0e5bd21e000054" id="option_53d1aa2deb0e5bd21e000054_6352984608908250" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">08</span>
  <div class="q-title">
    <span class="q-title-content">7.贵企业认为国办发8号文件的颁布实施，对强化我国企业技术创新主体地位、全面提升企业创新能力的意义和指导作用如何？</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1aa78eb0e5bfd8100001c" id="option_53d1aa78eb0e5bfd8100001c_4287098760578762" type="radio" class="">
  <span>&nbsp;</span>
  <p>很大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aa78eb0e5bfd8100001c" id="option_53d1aa78eb0e5bfd8100001c_32611118241915256" type="radio" class="">
  <span>&nbsp;</span>
  <p>较大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aa78eb0e5bfd8100001c" id="option_53d1aa78eb0e5bfd8100001c_18520165233643510" type="radio" class="">
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1aa78eb0e5bfd8100001c" id="option_53d1aa78eb0e5bfd8100001c_27762871332237292" type="radio" class="">
  <span>&nbsp;</span>
  <p>较小</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aa78eb0e5bfd8100001c" id="option_53d1aa78eb0e5bfd8100001c_16364182800756572" type="radio" class="">
  <span>&nbsp;</span>
  <p>很小</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">国办发8号文件相关政策措施落实情况：<br>（一）进一步完善引导企业加大技术创新投入的机制</span><br></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">09</span>
  <div class="q-title">
    <span class="q-title-content">1.企业是否制定了中长期技术创新发展规划：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ab04eb0e5b27570004a9" id="option_53d1ab04eb0e5b27570004a9_3775400547907488" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ab04eb0e5b27570004a9" id="option_53d1ab04eb0e5b27570004a9_268690776206584" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">10</span>
  <div class="q-title">
    <span class="q-title-content">2.企业是否设立了专门的技术创新管理部门：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ab28eb0e5b27570004ab" id="option_53d1ab28eb0e5b27570004ab_3898037791645817" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ab28eb0e5b27570004ab" id="option_53d1ab28eb0e5b27570004ab_3716251193197594" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">11</span>
  <div class="q-title">
    <span class="q-title-content">3.近三年研发投入是否逐年增加：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ab36eb0e5b27570004ac" id="option_53d1ab36eb0e5b27570004ac_4795790536735919" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ab36eb0e5b27570004ac" id="option_53d1ab36eb0e5b27570004ac_9705514101167960" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-numberblank">
  <span class="q-idx" style="display: none;">12</span>
  <div class="q-title">
    <span class="q-title-content">3.1 2013年本企业研发投入占销售收入的大致比例</span>
    <span class="q-info">（请输入 0 到 100 之间的整数）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" class="short" id="53d1ab64eb0e5b27570004ad"><span style="margin-left: 10px;">%</span></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">13</span>
  <div class="q-title">
    <span class="q-title-content">3.2 研发投入强度是否能够满足企业技术创新需求：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ab83eb0e5b27570004ae" id="option_53d1ab83eb0e5b27570004ae_4518106354050521" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ab83eb0e5b27570004ae" id="option_53d1ab83eb0e5b27570004ae_4887962551265574" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">14</span>
  <div class="q-title">
    <span class="q-title-content">4.企业是否曾牵头承担中央或地方财政资助的科技计划项目：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1aba1eb0e5b27570004b0" id="option_53d1aba1eb0e5b27570004b0_3314292271703998" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aba1eb0e5b27570004b0" id="option_53d1aba1eb0e5b27570004b0_1078719536686769" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">15</span>
  <div class="q-title">
    <span class="q-title-content">5.企业是否支持科研项目经费后补助政策：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1abbbeb0e5bb75c000001" id="option_53d1abbbeb0e5bb75c000001_3019944504526725" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1abbbeb0e5bb75c000001" id="option_53d1abbbeb0e5bb75c000001_7694283879913766" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">16</span>
  <div class="q-title">
    <span class="q-title-content">5.1 您的企业支持该政策，对于政策实施有什么建议：<span style="color: #f00"><span style="font-weight: bold;">如果支持该政策,回答此题，不支持不回答此题</span></span></span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1abf5eb0e5b27570004b1" class="wide"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">17</span>
  <div class="q-title">
    <span class="q-title-content">5.2您的企业不支持该政策，原因是：<span style="color: #f00"><span style="font-weight: bold;">如果不支持该政策,回答此题，支持不回答此题</span></span></span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1ac3deb0e5b27570004b3" class="wide"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">18</span>
  <div class="q-title">
    <span class="q-title-content">6.中央或地方科技计划项目的征集或指南编制时是否征求企业有关专家意见：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ac8aeb0e5b27570004b8" id="option_53d1ac8aeb0e5b27570004b8_6975795485122096" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ac8aeb0e5b27570004b8" id="option_53d1ac8aeb0e5b27570004b8_9754608491433628" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">19</span>
  <div class="q-title">
    <span class="q-title-content">7.相关部门考核本企业技术创新的经营业绩时，是否将研发投入视同利润纳入考核：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1aca1eb0e5bb75c000006" id="option_53d1aca1eb0e5bb75c000006_8052094976792069" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1aca1eb0e5bb75c000006" id="option_53d1aca1eb0e5bb75c000006_4143154179881040" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">20</span>
  <div class="q-title">
    <span class="q-title-content"> 7.1对建立健全国有企业技术创新的经营业绩考核制度的建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1acbbeb0e5b27570004ba" class="wide"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">21</span>
  <div class="q-title">
    <span class="q-title-content">8.贵企业在技术创新方面获得国有资本经营预算资金的支持情况：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1accdeb0e5b27570004bb" id="option_53d1accdeb0e5b27570004bb_2412880213829821" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度很大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1accdeb0e5b27570004bb" id="option_53d1accdeb0e5b27570004bb_4259707121546827" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度较大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1accdeb0e5b27570004bb" id="option_53d1accdeb0e5b27570004bb_5108447280775309" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1accdeb0e5b27570004bb" id="option_53d1accdeb0e5b27570004bb_2942573175185899" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度较小</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1accdeb0e5b27570004bb" id="option_53d1accdeb0e5b27570004bb_33004819689680308" type="radio" class="">
  <span>&nbsp;</span>
  <p>未曾获得支持</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（二）支持企业建立研发机构</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">22</span>
  <div class="q-title">
    <span class="q-title-content">9.贵企业是否建立了研发机构：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ad0beb0e5bb75c000007" id="option_53d1ad0beb0e5bb75c000007_4188274508492654" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ad0beb0e5bb75c000007" id="option_53d1ad0beb0e5bb75c000007_8778742766967733" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">23</span>
  <div class="q-title">
    <span class="q-title-content">贵企业拥有以下哪些国家级或省级的研发机构（可多选）：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择“是”回答此题，选择"否“不用回答</span></span></span>
    <span class="q-info">（请选择 1 到 5 项）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_3950126160576505" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>企业技术中心</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_9892692011041390" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>工程（技术）研究中心</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_6981825080985560" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>企业重点实验室</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_4512313541531562" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>工程实验室</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_15987671943839028" type="checkbox" class="is_exclusive">
  <span>&nbsp;</span>
  <p>上述都没有</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ad28eb0e5bb75c00000a" id="option_53d1ad28eb0e5bb75c00000a_8981971261397999" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">24</span>
  <div class="q-title">
    <span class="q-title-content">如果本企业拥有国家重点实验、国家工程（技术）研究中心、国家认定的企业技术<br>   中心，是否享受了进口科技开发用品税收优惠政策：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ae01eb0e5b27570004c4" id="option_53d1ae01eb0e5b27570004c4_3241907266361777" type="radio" class="">
  <span>&nbsp;</span>
  <p>从未申请过</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ae01eb0e5b27570004c4" id="option_53d1ae01eb0e5b27570004c4_3915487721260940" type="radio" class="">
  <span>&nbsp;</span>
  <p>申请过但未享受</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ae01eb0e5b27570004c4" id="option_53d1ae01eb0e5b27570004c4_3645409647128914" type="radio" class="">
  <span>&nbsp;</span>
  <p>申请过并已享受</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">25</span>
  <div class="q-title">
    <span class="q-title-content">在申请和享受该项税收优惠政策过程中，存在的主要问题及建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1ae26eb0e5b27570004c5" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（三）支持企业推进重大科技成果产业化</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">26</span>
  <div class="q-title">
    <span class="q-title-content">10.贵企业在科技成果推广应用和产业化方面，获得国家或本地区相关政策支持情况：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b0cdeb0e5ba3c1000007" id="option_53d1b0cdeb0e5ba3c1000007_1115867964953873" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度很大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b0cdeb0e5ba3c1000007" id="option_53d1b0cdeb0e5ba3c1000007_6126753045034822" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度较大</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b0cdeb0e5ba3c1000007" id="option_53d1b0cdeb0e5ba3c1000007_7592041082485935" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度一般</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b0cdeb0e5ba3c1000007" id="option_53d1b0cdeb0e5ba3c1000007_6612559804530822" type="radio" class="">
  <span>&nbsp;</span>
  <p>支持力度较小</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b0cdeb0e5ba3c1000007" id="option_53d1b0cdeb0e5ba3c1000007_10076195106824200" type="radio" class="">
  <span>&nbsp;</span>
  <p>未曾获得支持</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">27</span>
  <div class="q-title">
    <span class="q-title-content">11.贵企业更希望获得政府部门哪些方面的支持（可多选）：</span>
    <span class="q-info">（请选择 1 到 7 项）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_1288087220326518" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>政策引导</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_3224232443980791" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>财政资金支持</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_3160441021476322" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>鼓励社会资本投入</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_9059144028105364" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>政府采购</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_11450624322063002" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>组织实施用户示范工程</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_21923485799236870" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>完善技术转移和产业化服务体系</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b0e9eb0e5be8ce000008" id="option_53d1b0e9eb0e5be8ce000008_705496174545605" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（四）以企业为主导发展产业技术创新战略联盟</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">28</span>
  <div class="q-title">
    <span class="q-title-content">12.贵企业是否牵头或参与本领域相关产业技术创新战略联盟：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b23ceb0e5ba3c100000f" id="option_53d1b23ceb0e5ba3c100000f_8427238559534708" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b23ceb0e5ba3c100000f" id="option_53d1b23ceb0e5ba3c100000f_22376116223973856" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">29</span>
  <div class="q-title">
    <span class="q-title-content">12.1 所在联盟更希望获得政府部门哪些方面的支持：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b25deb0e5ba3c1000013" id="option_53d1b25deb0e5ba3c1000013_1280888206250394" type="radio" class="">
  <span>&nbsp;</span>
  <p>承担产业技术研发创新重大项目</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b25deb0e5ba3c1000013" id="option_53d1b25deb0e5ba3c1000013_4955469877620349" type="radio" class="">
  <span>&nbsp;</span>
  <p>参与制订技术标准</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b25deb0e5ba3c1000013" id="option_53d1b25deb0e5ba3c1000013_3701563990042747" type="radio" class="">
  <span>&nbsp;</span>
  <p>参与编制产业技术路线图</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b25deb0e5ba3c1000013" id="option_53d1b25deb0e5ba3c1000013_1741626228739612" type="radio" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">30</span>
  <div class="q-title">
    <span class="q-title-content">12.2 贵企业认为政府部门倡导的以企业为主导发展产业技术创新联盟，其运行中存在的问题及建议:<br></span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b28deb0e5bb75c00002b" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（五）依托转制院所和行业领军企业构建产业共性技术研发基地</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">31</span>
  <div class="q-title">
    <span class="q-title-content">13.贵企业是否为相关产业共性技术研发基地的依托单位：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b32deb0e5b27570004d4" id="option_53d1b32deb0e5b27570004d4_5616382277969049" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b32deb0e5b27570004d4" id="option_53d1b32deb0e5b27570004d4_8929968563676359" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">32</span>
  <div class="q-title">
    <span class="q-title-content">13.1 在加强共性技术研发和成果推广扩散方面，得到了政府部门的哪些支持：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b35feb0e5ba3c1000019" class="wide"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">33</span>
  <div class="q-title">
    <span class="q-title-content">13.2 在产业共性技术研发基地建设、运行和技术扩散服务方面，存在的主要问题及建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b3f9eb0e5b27570004d6" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（六）强化科研院所和高等学校对企业技术创新的源头支持</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">34</span>
  <div class="q-title">
    <span class="q-title-content">14.贵企业与科研院所、高等学校开展技术创新合作，主要采取了哪些方式：</span>
    <span class="q-info">（请选择 1 到 5 项）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b421eb0e5b27570004d8" id="option_53d1b421eb0e5b27570004d8_3554407389618517" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>共建研发机构</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b421eb0e5b27570004d8" id="option_53d1b421eb0e5b27570004d8_9464110419781648" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>共建学科专业</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b421eb0e5b27570004d8" id="option_53d1b421eb0e5b27570004d8_8883961696904745" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>实施合作项目</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b421eb0e5b27570004d8" id="option_53d1b421eb0e5b27570004d8_4025113619077328" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>联合培养人才</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b421eb0e5b27570004d8" id="option_53d1b421eb0e5b27570004d8_1657654733136183" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其它（请具体说明）：<input type="text"></p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">35</span>
  <div class="q-title">
    <span class="q-title-content">14.1 企业在与科研院所、高等学校开展技术创新合作方面，存在的主要问题及建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b45ceb0e5b27570004d9" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（七）完善面向企业的技术创新服务平台</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">36</span>
  <div class="q-title">
    <span class="q-title-content">15.贵企业是否享受过技术创新服务平台或科技中介服务机构提供的服务：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b488eb0e5b27570004da" id="option_53d1b488eb0e5b27570004da_6952176519038056" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b488eb0e5b27570004da" id="option_53d1b488eb0e5b27570004da_6204438041077356" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">37</span>
  <div class="q-title">
    <span class="q-title-content">15.1 贵企业没有享受过技术创新服务平台或科技中介服务机构提供的服务的原因是：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（请选择 1 到 6 项）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_4268685430478590" type="checkbox" class="is_exclusive">
  <span>&nbsp;</span>
  <p>不了解相关政策</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_1356121720380105" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>不符合条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_8997878988019580" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>申请手续繁琐</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_5033981882122136" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>缺乏平台服务机构</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_21725357700234480" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>尚未建立服务机制</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b4daeb0e5b27570004dd" id="option_53d1b4daeb0e5b27570004dd_9198053756901732" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">38</span>
  <div class="q-title">
    <span class="q-title-content">16.面向企业技术创新需求，建议平台加强的服务内容为：</span>
    <span class="q-info">（请选择 1 到 9 项）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_338759445260808" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>研发设计</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_3272166603777102" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>检验检测</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_7945257448214496" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>技术转移</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_8714538987491147" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>大型共用软件</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_28006283856607820" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>知识产权</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_16676683867495360" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>标准</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_23537470024689890" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>质量品牌</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_26302764335792376" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>人才培训</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b50deb0e5bb75c00002f" id="option_53d1b50deb0e5bb75c00002f_6283366674709749" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（八）加强企业创新人才队伍建设</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">39</span>
  <div class="q-title">
    <span class="q-title-content">17.贵企业是否曾引进海外高层次人才：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b59eeb0e5ba3c1000027" id="option_53d1b59eeb0e5ba3c1000027_6668058598815197" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b59eeb0e5ba3c1000027" id="option_53d1b59eeb0e5ba3c1000027_9882446069356454" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">40</span>
  <div class="q-title">
    <span class="q-title-content">17.1 企业在引进海外高层次人才时是否得到海外高层次人才引进计划、创新人才推进计划等政策支持：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b5b8eb0e5ba3c1000028" id="option_53d1b5b8eb0e5ba3c1000028_3943934243563861" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b5b8eb0e5ba3c1000028" id="option_53d1b5b8eb0e5ba3c1000028_8307902935184504" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">41</span>
  <div class="q-title">
    <span class="q-title-content">17.2 企业在引进海外高层次人才时没有得到海外高层次人才引进计划、创新人才推进计划等政策支持的原因是： <span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b634eb0e5bb75c000033" id="option_53d1b634eb0e5bb75c000033_6462770190447676" type="radio" class="">
  <span>&nbsp;</span>
  <p>不了解相关政策</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b634eb0e5bb75c000033" id="option_53d1b634eb0e5bb75c000033_6156248832014547" type="radio" class="">
  <span>&nbsp;</span>
  <p>不符合条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b634eb0e5bb75c000033" id="option_53d1b634eb0e5bb75c000033_4755552481932853" type="radio" class="">
  <span>&nbsp;</span>
  <p>办理手续复杂</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b634eb0e5bb75c000033" id="option_53d1b634eb0e5bb75c000033_3040791174068834" type="radio" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">42</span>
  <div class="q-title">
    <span class="q-title-content">18.贵企业为吸引和凝聚创新人才，是否实施了股权或分红激励措施：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b657eb0e5bb75c000036" id="option_53d1b657eb0e5bb75c000036_3116651667099245" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b657eb0e5bb75c000036" id="option_53d1b657eb0e5bb75c000036_1341886293219184" type="radio" class="">
  <span>&nbsp;</span>
  <p>否（请说明原因）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">43</span>
  <div class="q-title">
    <span class="q-title-content">18.1 实施股权或分红激励的主要原因是：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b678eb0e5bb75c000037" id="option_53d1b678eb0e5bb75c000037_3850153712014552" type="radio" class="">
  <span>&nbsp;</span>
  <p>政策有要求</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b678eb0e5bb75c000037" id="option_53d1b678eb0e5bb75c000037_558723088044805" type="radio" class="">
  <span>&nbsp;</span>
  <p>企业自身需求</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（九）推动科技资源开放共享</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">44</span>
  <div class="q-title">
    <span class="q-title-content">19.本企业是否曾使用科研院所、高校、其他企业的科研设施和仪器设备等科技资源：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b71deb0e5bb75c00003c" id="option_53d1b71deb0e5bb75c00003c_7424695798732251" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b71deb0e5bb75c00003c" id="option_53d1b71deb0e5bb75c00003c_6322299320507873" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">45</span>
  <div class="q-title">
    <span class="q-title-content">19.1 本企业不曾使用科研院所、高校、其他企业的科研设施和仪器设备等科技资源的主要原因是：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_1034080835119018" type="radio" class="">
  <span>&nbsp;</span>
  <p>本单位没有相关需求</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_2882692301103240" type="radio" class="">
  <span>&nbsp;</span>
  <p>开放的资源不能满足本单位需求</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_1349515688049279" type="radio" class="">
  <span>&nbsp;</span>
  <p>缺乏开放共享机制</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_4466002266543017" type="radio" class="">
  <span>&nbsp;</span>
  <p>手续繁琐</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_10648842833270188" type="radio" class="">
  <span>&nbsp;</span>
  <p>费用太高</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b73deb0e5b27570004e1" id="option_53d1b73deb0e5b27570004e1_9880741665305624" type="radio" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">46</span>
  <div class="q-title">
    <span class="q-title-content">20.本企业拥有的主要以政府资金投资建设的科研设施和仪器设备等科技资源，外单位是否曾使用过：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b788eb0e5bb75c000040" id="option_53d1b788eb0e5bb75c000040_8825185172683848" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b788eb0e5bb75c000040" id="option_53d1b788eb0e5bb75c000040_8473259761404396" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">47</span>
  <div class="q-title">
    <span class="q-title-content">20.1 本企业拥有的主要以政府资金投资建设的科研设施和仪器设备等科技资源，外单位是不曾使用过的主要原因是： <span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_3807846588815292" type="radio" class="">
  <span>&nbsp;</span>
  <p>外单位没有相关需求</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_1563298180306410" type="radio" class="">
  <span>&nbsp;</span>
  <p>开放的资源不能满足外单位需求</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_4560212217248263" type="radio" class="">
  <span>&nbsp;</span>
  <p>缺乏开放共享机制</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_1454158927223102" type="radio" class="">
  <span>&nbsp;</span>
  <p>手续繁琐</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_14021034312829892" type="radio" class="">
  <span>&nbsp;</span>
  <p>不适合对外开放</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b7beeb0e5b5781000002" id="option_53d1b7beeb0e5b5781000002_1494122172972287" type="radio" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">48</span>
  <div class="q-title">
    <span class="q-title-content">20.2 目前公共科技资源开放共享方面存在的问题及建议： </span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b805eb0e5b5781000004" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十）提升企业技术创新开放合作水平</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">49</span>
  <div class="q-title">
    <span class="q-title-content">21.企业是否开展国际创新合作：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b8ddeb0e5ba3c100002d" id="option_53d1b8ddeb0e5ba3c100002d_2912635721625839" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b8ddeb0e5ba3c100002d" id="option_53d1b8ddeb0e5ba3c100002d_3953621258980972" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">50</span>
  <div class="q-title">
    <span class="q-title-content">21.1 企业开展国际创新合作采取了如下哪些形式：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（请选择 1 到 9 项）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_9027719115590482" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>人才引进</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_1623159404314803" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>技术引进</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_2374409317600341" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>合作研发</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_7819218052591247" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>委托研发</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_20241695037359344" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>建立联合研发中心或海外研发机构</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_6054075241802245" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>参股并购</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_20862903064364560" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>专利交叉许可</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_18690341781141230" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>参加国际标准组织，参与国际技术标准制修订</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1b8fceb0e5b578100000d" id="option_53d1b8fceb0e5b578100000d_4281073677101719" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体说明）：<input type="text"></p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">51</span>
  <div class="q-title">
    <span class="q-title-content">21.2 企业在开展国际创新合作中，存在的问题和建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1b973eb0e5ba3c1000034" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十一）完善支持企业技术创新的财税金融等政策</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">52</span>
  <div class="q-title">
    <span class="q-title-content">22.贵企业是否享受了企业研发费用加计扣除政策：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ba31eb0e5b5781000011" id="option_53d1ba31eb0e5b5781000011_3840801812655505" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ba31eb0e5b5781000011" id="option_53d1ba31eb0e5b5781000011_7226911164086295" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">53</span>
  <div class="q-title">
    <span class="q-title-content">22.1 该政策对促进贵企业加大研发投入的作用和影响：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1ba8feb0e5ba3c1000037" id="option_53d1ba8feb0e5ba3c1000037_5319122059691503" type="radio" class="">
  <span>&nbsp;</span>
  <p>很大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ba8feb0e5ba3c1000037" id="option_53d1ba8feb0e5ba3c1000037_7957323388458646" type="radio" class="">
  <span>&nbsp;</span>
  <p>较大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ba8feb0e5ba3c1000037" id="option_53d1ba8feb0e5ba3c1000037_1917402402082881" type="radio" class="">
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1ba8feb0e5ba3c1000037" id="option_53d1ba8feb0e5ba3c1000037_3551882946411002" type="radio" class="">
  <span>&nbsp;</span>
  <p>较小</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1ba8feb0e5ba3c1000037" id="option_53d1ba8feb0e5ba3c1000037_18551865979709900" type="radio" class="">
  <span>&nbsp;</span>
  <p>很小</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">54</span>
  <div class="q-title">
    <span class="q-title-content">22.2 贵企业没有享受了企业研发费用加计扣除政策的原因是：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（请选择 1 到 7 项）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_322631170064308" type="checkbox" class="is_exclusive">
  <span>&nbsp;</span>
  <p>不知道该政策</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_4507078696667796" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>不符合政策条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_4488306144807765" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>政策申请手续繁琐，申请成本高</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_9697034920987784" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>认定部门（税务部门等）不认可企业研发费用</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_16928576741571152" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>对该政策没有需求或需求不强烈而未申请</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_10323802172875588" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>出于企业经营策略考虑（如经营业绩、保密需要等）而放弃申请</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1baadeb0e5ba3c100003a" id="option_53d1baadeb0e5ba3c100003a_9370699495553714" type="checkbox" class="">
  <span>&nbsp;</span>
  <p>其他（请具体指出）：<input type="text"></p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">55</span>
  <div class="q-title">
    <span class="q-title-content"> 22.3 您对进一步落实和完善企业研发费用加计扣除政策有何建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bb4beb0e5b1ad3000001" class="wide"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">56</span>
  <div class="q-title">
    <span class="q-title-content">23.贵企业是否享受了企业研发仪器设备加速折旧政策：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bb63eb0e5ba3c100003e" id="option_53d1bb63eb0e5ba3c100003e_5059603469455952" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb63eb0e5ba3c100003e" id="option_53d1bb63eb0e5ba3c100003e_815193960399573" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">57</span>
  <div class="q-title">
    <span class="q-title-content">23.1 该政策对促进贵企业增加科技开发、加快仪器设备更新换代的作用：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bb80eb0e5b1ad3000005" id="option_53d1bb80eb0e5b1ad3000005_4922614628754686" type="radio" class="">
  <span>&nbsp;</span>
  <p>很大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb80eb0e5b1ad3000005" id="option_53d1bb80eb0e5b1ad3000005_3303279947564567" type="radio" class="">
  <span>&nbsp;</span>
  <p>较大</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb80eb0e5b1ad3000005" id="option_53d1bb80eb0e5b1ad3000005_9893977665008486" type="radio" class="">
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1bb80eb0e5b1ad3000005" id="option_53d1bb80eb0e5b1ad3000005_2299813949371859" type="radio" class="">
  <span>&nbsp;</span>
  <p>较小</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb80eb0e5b1ad3000005" id="option_53d1bb80eb0e5b1ad3000005_27439844411255280" type="radio" class="">
  <span>&nbsp;</span>
  <p>很小</p>
</label></td><td></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">58</span>
  <div class="q-title">
    <span class="q-title-content">23.2 贵企业没有享受企业研发仪器设备加速折旧政策的原因是：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”否“回答此题，选择”是“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_7917410015678663" type="radio" class="">
  <span>&nbsp;</span>
  <p>不知道该政策</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_4303681172267187" type="radio" class="">
  <span>&nbsp;</span>
  <p>不符合政策条件</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_210897407725730" type="radio" class="">
  <span>&nbsp;</span>
  <p>政策申请手续繁琐，申请成本高</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_7497966065835993" type="radio" class="">
  <span>&nbsp;</span>
  <p>对该政策没有需求或需求不强烈</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_15280041285756266" type="radio" class="">
  <span>&nbsp;</span>
  <p>出于企业经营策略考虑（如国有资产保值增值、上市公司利润）而放弃申请</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bb99eb0e5ba3c100003f" id="option_53d1bb99eb0e5ba3c100003f_4093289793743947" type="radio" class="">
  <span>&nbsp;</span>
  <p>其他（请具体指出）：<input type="text"></p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">59</span>
  <div class="q-title">
    <span class="q-title-content">23.3 您对进一步落实和完善企业研发仪器设备加速折旧政策有何建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bbd0eb0e5ba3c1000041" class="wide"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">60</span>
  <div class="q-title">
    <span class="q-title-content">24.贵企业是否为高新技术企业：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bbe3eb0e5ba3c1000042" id="option_53d1bbe3eb0e5ba3c1000042_4087515031039594" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bbe3eb0e5ba3c1000042" id="option_53d1bbe3eb0e5ba3c1000042_5709975515017511" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">61</span>
  <div class="q-title">
    <span class="q-title-content">24.1 贵企业是否享受了高新技术企业税收优惠（按15%的企业所得税率）政策：<span style="color: #f00"><span style="font-weight: bold;">上一道题选择”是“回答此题，选择”否“不用回答此题</span></span></span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bc00eb0e5ba3c1000043" id="option_53d1bc00eb0e5ba3c1000043_3371003547968119" type="radio" class="">
  <span>&nbsp;</span>
  <p>是</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bc00eb0e5ba3c1000043" id="option_53d1bc00eb0e5ba3c1000043_7080058458515497" type="radio" class="">
  <span>&nbsp;</span>
  <p>否</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">62</span>
  <div class="q-title">
    <span class="q-title-content">24.2 您对高新技术企业认定工作，以及对改进和完善高企认定管理办法有何建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bc1feb0e5ba3c1000046" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">（十二）总体评价和建议</span></span>
    
    
    
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-choice">
  <span class="q-idx" style="display: none;">63</span>
  <div class="q-title">
    <span class="q-title-content">25.贵企业对国办发8号文件目前贯彻落实情况的总体评价：</span>
    <span class="q-info">（单选题）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><table><tbody><tr><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_1703138619867755" type="radio" class="">
  <span>&nbsp;</span>
  <p>很好</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_9681596314602300" type="radio" class="">
  <span>&nbsp;</span>
  <p>较好</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_6966849917455006" type="radio" class="">
  <span>&nbsp;</span>
  <p>一般</p>
</label></td></tr><tr><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_4777557573127181" type="radio" class="">
  <span>&nbsp;</span>
  <p>较差</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_16753912718301354" type="radio" class="">
  <span>&nbsp;</span>
  <p>很差</p>
</label></td><td><label class="cust-option">
  <input name="options_53d1bcd8eb0e5ba3c100004c" id="option_53d1bcd8eb0e5ba3c100004c_12498906523721020" type="radio" class="">
  <span>&nbsp;</span>
  <p>无法判断</p>
</label></td></tr></tbody></table></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">64</span>
  <div class="q-title">
    <span class="q-title-content">26.您认为当前国有企业开展技术创新活动面临的主要问题和挑战：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bcefeb0e5ba3c100004d" class="wide"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">65</span>
  <div class="q-title">
    <span class="q-title-content">27.贯彻落实国办发8号文件存在的主要问题及有关建议：</span>
    <span class="q-info">（不少于 1 个字）</span>
    <span class="q-required" style="display: inline;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bd0feb0e5ba3c100004f" class="wide"></div>
</div><div class="q-filler q-paragraph">
  
  <div class="q-title">
    <span class="q-title-content"><span style="font-weight: bold;">如方便请留下问卷填写人的联络信息，以便我们与您联系。</span></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">66</span>
  <div class="q-title">
    <span class="q-title-content">您的姓名：</span>
    <span class="q-info">（输入 2 到 10 个字）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bd33eb0e5b1ad300000b" class="normal"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">67</span>
  <div class="q-title">
    <span class="q-title-content">您所在的单位名称：</span>
    <span class="q-info">（输入 2 到 20 个字）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bd4aeb0e5ba3c1000052" class="normal"></div>
</div><div class="q-filler q-textblank">
  <span class="q-idx" style="display: none;">68</span>
  <div class="q-title">
    <span class="q-title-content">您的职务：</span>
    <span class="q-info">（输入 2 到 10 个字）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" id="53d1bd6deb0e5b1ad3000015" class="normal"></div>
</div><div class="q-filler q-phoneblank">
  <span class="q-idx" style="display: none;">69</span>
  <div class="q-title">
    <span class="q-title-content">您的联系电话：</span>
    <span class="q-info">（请输入电话号码）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" placeholder="例如：010-8888-8888 或 186-8888-8888"></div>
</div><div class="q-filler q-emailblank bottom">
  <span class="q-idx" style="display: none;">70</span>
  <div class="q-title">
    <span class="q-title-content">您的常用的电子信箱：</span>
    <span class="q-info">（请输入有效邮箱）</span>
    <span class="q-required" style="display: none;">*</span>
    <span class="q-error"></span>
  </div>
  <div class="q-note" style="display: none;">说明：</div>
  <div class="q-content"><input type="text" placeholder="例如：myemail@sina.com"></div>
</div>
</div>
    <div class="footer"></div>
  </div>
  <div id="page_buttons">
    <button id="next_btn">提交</button>
  </div>
</div>
</div>


<div id="sf_footer">
  <a href="/" target="_blank">技术支持 问卷吧</a>
  <div class="ad"></div>
</div>

</div>

