<h1>Listing answs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answs.each do |answ| %>
      <tr>
        <td><%= link_to 'Show', answ %></td>
        <td><%= link_to 'Edit', edit_answ_path(answ) %></td>
        <td><%= link_to 'Destroy', answ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answ', new_answ_path %>
