<div id="sf">
  <div id="sf_banner">
    <div id="pv_bar">
      <span>共收录:<span><%= Answ.count%>条</span></span>
      <button style="display: inline-block;" class='report'>导出报告</button>
    </div>
  </div>
</div>