// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/utilities/general/min";
@import "compass/utilities/general/clearfix";
@import "compass/css3/opacity";

$popoverArrowWidth:       6px;
$popoverArrowOuterWidth:  $popoverArrowWidth;


@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "answer/*.png";


$yellow: #f5c000;
$yellow-light: #fff6d4;
$blue: #6d91a9;
$blue-light: #e2e9ee;
$red:#f14646;
$red1:#f25d5d;
$red2:#d93631;
$blue:#5691f0;
$blue1:#6fa0f0;
$blue2:#4576c6;

@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin bp($top, $left) {
	background-position: $top $left;
}

@mixin abs-pos($top: 0px, $left: 0px) {
	position: absolute;
	top: $top;
	left: $left;
}


@mixin no-extra{
	padding: 0;
	margin: 0;
}


/* filler */
$cmpt-w: 905px;
@mixin page-component {
	width: $cmpt-w;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
$blue-color: #5691f0;



body {
	padding: 0;
	margin: 0;
	color: #000000;
	text-align: center;
	background: image-url("answer/bg_b.png") no-repeat top center #9bdd63;

	#sf {
		position:relative;
		@include min-height(100%);
		@include no-extra;
		font-size: 14px;
		text-align: center;
		a{
			color: #5691f0;
			text-decoration: underline;
			&:hover {
				color: #4A7BCA;
			}
		}
		#sf_banner {
			width: 100%;
			position: fixed;
			top: 0;
			z-index: 1000;
		
			/* preview */
			#pv_bar {
				@include one-line(50px);
				border-bottom: 3px solid #656c76;
				background: #737982;
				text-align: center;
				> span {
					color: #eee;
					font-size: 13px;
					font-weight: normal;
					vertical-align: middle;
					margin: 0 10px;
				}
				>img {
					vertical-align: middle;
				}
				>button {
					width:100px;
					height:50px;
					display: none;
					@include border-radius(2px);
					background: #5691f0;
					border: none;
					color: #eee;
					padding: 5px 15px;
					cursor: pointer;
					&:hover { background: #6fa0f0; }
					&:active { background: #6fa0f0; }
				}
			}
		
			.sf_banner_top {
				background: #FFC800;
				border-bottom: 1px solid #EFB40F;
				@include one-line(50px);
				>.inner {
					@include page-component;
		
					#logo {
						float: left;
						img { 
							border: none; 
						}
					}
		
					#progress_con {
						display: none;
						float: right;
						font-weight: bold;
						color: #fff;
						span {
							em {margin: 0 5px;}
						}
					}
					#progress_info {
						@include inline-block;
						margin-right: 5px;
					}
					#progress_bar {
						@include inline-block;
						border: 2px solid #fff;
						width: 100px;
						@include one-line(18px);
						em {
							float: left;
							background: #fff;
							height: 18px;
						}
					}
				}
			}
			.sf_banner_bottom {
				@include one-line(3px);
				@include opacity(0.25);
				background: #aeb5c0;
			}
		}
	}


	#sf_title{
		position: relative;
		top: 280px;
		color:#000;
		// left: -54px;
		// background:#88abda;
		// @include opacity(.8);
		width:600px;
		margin:0 auto;
		// color: #fff;
		font-size: 24px;
		font-weight:bold;
	}
	#sf_desc{
		position:relative;
		padding:1em;
		margin:0 auto;
		top:270px;
		width:880px;
		text-align:left;
		color: #fff;
		font-size: 14px;
		line-height: 26px;	
		// background:#88abda;
		// @include opacity(.8);		
		p{
			margin:0px;
			&.p_content{
				text-indent: 2em;
				line-height: 2em;
				// span{
				// 	display: block;
				// 	float:right
				// 	// position: relative;
				// 	// right: -400px;
				// }
			}
			&.p_contact{
				// margin-top:30px;
				// width:400px;
				text-indent: 2em;
				// position:relative;
				// left:530px;
				span{
					display:block;
					// margin-right:10px;
				}
			}
		}
		.date{
			>div{
				text-align: right;			}
		}		
		// span.thak{
		// 	float:right;
		// }
	}

#sf_main {
	@include page-component;
	border: none;
	width: 967px;
	margin-top:350px;
	// background: #fff;
	@include border-radius(4px);
	// @include single-box-shadow(rgba(22, 22, 48, 0.2), 0px, 0px, 8px);
}	

	&.show_print{
		background:none;
		#sf_title{
			top:0px;
			left:0px;
			color:inherit;
		}
		#sf_desc{
			top:20px;
			color:inherit;
		}
		#sf_main{
			margin-top:0px;
			.q-paragraph{
				background:none;
				color:inherit;
			}
		}
		.q-filler{
			padding-bottom:15px;
			// .q-content{
			// 	p{
			// 		margin:0px;
			// 		padding-left:2em;
			// 	}
			// }
			&.q-paragraph{
				padding-bottom:35px;
			}
		}
	}
}








.sf_banner_span {
	height: 70px;
	&.is_preview {
		height: 102px;
	}
}



.review_answer_detail{
	#sf_main {
		@include page-component;
		border: none;
		width: 967px;
		margin-top:0px;
		// background: #fff;
		@include border-radius(4px);
	}	
}


.sf_main_padding {
	// padding: 38px 0;
}

/* survey welcome page */
.welcome {
	background: #E2e5ea;
	border: 2px solid #fff;
	@include border-radius(4px);
	@include clearfix;
	>.inner {
		@include min-height(300px);
		float: left;
		padding: 38px 50px;
		width: $cmpt-w - 200px - 50px * 2 - 2px * 2;
		background: #fff;
		>h1 {
			font-size: 24px;
			font-weight: bold;
			margin-top: 20px;
		}
		>h2 {
			font-size: 16px;
			font-weight: bold;
			color: #666;
			margin-top: 15px;
		}
		.desc {
			margin: 30px 0;
			line-height: 1.8em;
			// text-indent: 2em;
			strong {font-weight: bold;}
			em {font-style: italic;}
		}
		.quillme_hot_note {
			color: #f00;
			text-align: center;
			font-size: 12px;
		}
	}

	>.reward {
		float: right;
		padding: 24px 20px;
		width: 200px - 20px * 2;

		>h1 {
			background: #f6f6f6;
			@include one-line(40px);
			font-weight: normal;
			text-align: center;
			@include border-radius(3px);
			font-size: 14px;
			>em {
				margin: 0 5px;
				color: $blue-color;
				font-weight: bold;
				font-size: 1.5em;
			}
		}

		>h2 {
			margin-top: 15px;
			margin-bottom: 10px;
			font-size: 13px;
			color: #333;
		}

		>.gifts-preview {
			display: block;
			position: relative;
			img {
				width: 160px;
			}
			h3 {
				display: none;
				font-size: 12px;
				position: absolute;
				bottom: 0px;
				@include one-line(30px);
				padding: 0 5px;
				width: 150px;
				overflow: hidden;
				color: #fff;
				background: #333;
				@include opacity(0.7);
				text-align: center;
			}
			&.hover, &:hover {
				h3 { display: block; }
			}
		}

		>.gifts-list {
			img {
				cursor: pointer;
				@include square(30px);
				border: 1px solid #fff;
				margin: 10px 4px 0 0;
				&.active {
					border: 1px solid #FFC800;
				}
			}
		}

		>.gifts-info {
			font-size: 12px;
			color: #999;
			padding: 5px 0;
			.l {
				float: left;
			}
			.r {
				float: right;
			}
		}

	}
	/* when no reward scheme exists, hide right banner */
	&.no_reward {
		>.inner {
			width:  $cmpt-w - 50px * 2 - 2px * 2;
			@include min-height(200px);
		}
		>.reward {
			display: none;
		}
	}
}

/* remind message when redoing survey */
#remind {
	@include page-component;
	color: #f00;
	margin-top: 20px;
	margin-bottom: -10px;
	text-align: center;
}

/* message container*/
.msg {
	@include border-radius(4px);
	padding: 15px 20px;
	margin: 30px 0;
	line-height: 20px;
	> em {
		@include square(60px);
		vertical-align: middle;
		margin-right: 15px;
	}
	> span {
		@include inline-block;
		vertical-align: middle;
		line-height: 1.8em;
		a {
			color: #ffaa3c;
			font-weight: bold;
			&:hover { text-decoration: underline; }
		}
		> em { 
			color: #ffaa3c;
			margin: 0 5px;
			font-weight: bold;
			font-size: 1.5em;
		}
		> b {
			font-weight: bold;
			font-size: 16px;
			color: #000;
		}
	}
	&.purple, &.waiting {
		background: #F3F0FC;
		color: #9F8BE4;
	}
}


#sf_footer {
	padding: 20px 0;
	@include page-component;
	text-align: center;
	color: #ccc;
	font-size: 12px;
	a {
		color: #ccc;
		text-decoration: none;
		&:hover { 
			color: #999;
		}
	}
	.ad {
		// ad
	}
}

/* survey body */
.header, .footer {
	@include one-line(20px);
	text-align: right;
	color: #AEB5C0;
	padding: 0 50px;
	font-size: 13px;
}
.s-title {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 50px 35px 50px;
	border-bottom: 1px solid #DCE0E5;
}


.q-filler {
	line-height: 1.5em;
	position: relative;
	background:#fff;
	@include single-box-shadow(rgba(22, 22, 48, 0.2), 0px, 2px, 8px);
	//@include box-shadow(rgba(22, 22, 48, 0.2),0px 0px 8px);
	//@include single-box-shadow(rgba(22, 22, 48, 0.2), 0px, 0px, 8px);
	clear: both;
	padding: 15px 50px 35px 50px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #DCE0E5;
	font-size: 14px;
	color: #000;
	&.top { border-top: none; }
	&.bottom { border-bottom: none; }
	.q-title-content{
		width:800px;
		display:inline-block;
		color:#003466;
		font-family: '楷体';
		font-size:16px;
		&.fir_l{
			font-family: '黑体';
		}
		.ipt-desc{
			font-size: 14px;
			font-family: '楷体';
			color: #ec971f;
		}
	}
	table{
		td{
			p{
				display:inline-block;
			}
		}
	}
	.q-required{
		color:red;
	}
	&.empty{
		background: image-url("answer/error.png") no-repeat 846px 35px;
		background-color:  lighten(#FFC800, 40%);
		.q-error{
			display:inline-block;
			color:red;
		}
	}
	#answ_suggest,#answ_reason,#answ_appra_suggest,#answ_policy_problem,#answ_gov_union_prob,#answ_what_support,#answ_innovate_prob,#answ_cooperate_prob,#answ_pub_tech_prob,#answ_world_problem,#answ_deduct_suggest,#answ_deprec_suggest,#answ_adv_suggest,#answ_innovate_chan,#answ_eight_suggest{
		width:600px;
	}
	&.q-paragraph{
		box-shadow: none;
		+ .q-filler{
			@include single-box-shadow(rgba(22, 22, 48, 0.2), 0px, 0px, 8px);
		}
		.q-title{
			margin-top: 26px;
			padding-left: 40px;
			.q-title-content.fir_l{
				color:#fff;
			}
		}
	}
}

@media print{
	body{
		#sf_banner{
			display:none;
		}
		#sf_desc{
			font-size:18px;
			p.p_contact{
				margin-top:40px;
			}
			// span.thak{
			// 	float:right;
			// 	margin-top:20px;
			// }
		}
		#sf_title{
			font-weight:bolder;
		}
		.q-filler{
			font-size:18px;
		}
	}

}

.q-paragraph{
	width: 100%;
	height:25px;
	margin-left: -60px;
	margin-top:40px;
	border: none;	
	font-size:18px;
	color:#fff;
	background: image-url("answer/tit3.png") no-repeat top center;
}


#page_buttons {
	@include page-component;
	text-align: center;
	padding: 30px 0;

	button {
		margin: 0 5px;
		padding: 0 30px;
		@include one-line(46px);
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		background: #5691f0;
		@include border-radius(3px);
		border: none;
		color: #fff;
		&:hover {
			background: #6FA1F0;
		}
		&:active {
			background: #4A7BCA;
		}
		&[disabled], &[disabled]:hover, &[disabled]:active {
			background: #DEE0E4;
			cursor: default;
		}

		&.light {
			background: lighten(#5691f0, 10%);
			&:hover {
				background: lighten(#6FA1F0, 10%);
			}
			&:active {
				background: lighten(#4A7BCA, 10%);
			}
		}
	}
}

#alert_notice{
	display:none;
}

.fancy-wra{
	height:100px;
	padding:30px;
	text-align: center;
	.desc{
		font-size:16px;
		font-weight: bold;
		margin-bottom: 40px;
	}
	button{
		width: 120px;
		height: 30px;
		border: 0px;
		margin-right:20px;
		color:#fff;
		background: #5691f0;
		cursor:pointer;
		&.cancel{
			background: #f04646;
		}
	}
}